@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SpaceGrotesk-Light";
  src: url("../public/fonts/SpaceGrotesk-Light.ttf");
}
@font-face {
  font-family: "SpaceGrotesk-Medium";
  src: url("../public/fonts/SpaceGrotesk-Medium.ttf");
}
@font-face {
  font-family: "SpaceGrotesk-Bold";
  src: url("../public/fonts/SpaceGrotesk-Bold.ttf");
}
@font-face {
  font-family: "SpaceGrotesk-Regular";
  src: url("../public/fonts/SpaceGrotesk-Regular.ttf");
}
@font-face {
  font-family: "SpaceGrotesk-SemiBold";
  src: url("../public/fonts/SpaceGrotesk-SemiBold.ttf");
}
@font-face {
  font-family: "CodecPro-Bold";
  src: url("../public/fonts/CodecPro-Bold.otf");
}
@font-face {
  font-family: "CodecPro-ExtraBold";
  src: url("../public/fonts/CodecPro-ExtraBold.otf");
}
@font-face {
  font-family: "CodecPro-Regular";
  src: url("./assets/fonts/CodecPro-Regular.ttf");
}

html,
body {
  width: 100%;
  min-height: 100%;
  max-width: 100%;
  background-color: #000;
}
video {
  object-fit: cover;
}
body {
  margin: 0;
  font-family:
    "SpaceGrotesk-Regular",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

#landingpage {
  font-family: "CodecPro-Regular";
  overflow-x: hidden;
}
.codecPro-bold {
  font-family: "CodecPro-bold";
  font-weight: 400;
}

.codecPro-ExtraBold {
  font-family: "CodecPro-ExtraBold";
  font-weight: 400;
}
